html::-webkit-scrollbar, .comments::-webkit-scrollbar, .dropdown-content::-webkit-scrollbar {
    width: 10px;
    right: 0;
}

html::-webkit-scrollbar-thumb, .comments::-webkit-scrollbar-thumb, .dropdown-content::-webkit-scrollbar-thumb {
    background-color: #140920;
}

html::-webkit-scrollbar-track, .comments::-webkit-scrollbar-track, .dropdown-content::-webkit-scrollbar-track {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #262525;
    color: white;
}

tr:nth-child(even) {
    background-color: #555454;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --main-color: #2199e8;
    --secondary-color: #ffc107;
    --radius: 5px;
}


.scroller {
    background-color: #140920;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: 100;
    height: 5px;
}

h1 {
    font-size: 1.9em;
    font-weight: 700;
    color: #262137;
    padding: 30px;
}

.section {
    overflow-x: scroll;
}

    .section::-webkit-scrollbar {
        height: 10px;
        bottom: 0;
    }

    .section::-webkit-scrollbar-thumb {
        background-color: #140920;
    }

    .section::-webkit-scrollbar-track {
        background-color: white;
    }

table {
    min-width: 900px !important;
    color: white;
    margin-bottom: 50px;
}

thead td {
    font-weight: bold;
    background-color: #0c1527;
}

td {
    font-size: 15px;
    padding: 4px;
    width: fit-content;
    text-align: center;
}
