@model CenterManagement.ViewModels.LessonVM

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
              rel="stylesheet" />
        <link rel="stylesheet" href="~/css/UpdateTeacherData.css">
    </head>
    <body>
        <div class="scroller"></div>
        <div class="wrapper">
            <form novalidate="" enctype="multipart/form-data" asp-action="AddNewLesson" method="post">
                <h1>Add New Lesson</h1>
                <div class="input-box my-3">
                    <label asp-for="Id" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Lesson Id </label>
                    <input asp-for="Id" type="text" id="lessonID" onkeyup="setData()" placeholder="Lesson Id" required autocomplete="off" />
                </div>
                <div class="input-box my-3">
                    <label asp-for="LessonTitle" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Lesson Title </label>
                    <input asp-for="LessonTitle" type="text" placeholder="Lesson Title" required autocomplete="off" />
                </div>
                <div class="input-box my-3">
                    <label asp-for="Discreption" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Lesson Discreption </label>
                    <input asp-for="Discreption" type="text" placeholder="Lesson Discreption" required autocomplete="off" />
                </div>
                <div class="input-box my-3">
                    <label asp-for="AcademyYear" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Academy Year </label>
                    <select asp-for="AcademyYear" required>
                        <option value="" selected>Select Your Academy Year</option>
                        <option value="1prep">Frist Prep</option>
                        <option value="2prep">Second Prep</option>
                        <option value="3prep">Third Prep</option>
                        <option value="1sec">Frist Sec</option>
                        <option value="2sec">Second Sec</option>
                        <option value="3sec">Third Sec</option>
                    </select>
                </div>
                <div class="input-box my-3">
                    <label asp-for="Month" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">The Monthly Enrollment </label>
                    <select asp-for="Month" required>
                        <option value="" selected>Select The Monthly Enrollment</option>
                        <option value="January">January</option>
                        <option value="February">February</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="December">December</option>
                    </select>
                </div>
                <div class="col-8 my-3">
                    <label asp-for="ImageFile" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">Upload Lesson ThumbnailUrl</label>
                    <input asp-for="ImageFile" type="file" style="border-radius:40px;border: 2px solid rgba(255, 255, 255, 0.2);color:#fff;" enctype="multipart/form-data" accept="image/jpg" />
                </div>
                <div class="col-8 my-3">
                    <label asp-for="VedioFile" style="font-size:1.2em;font-weight:500;color:#fff;" class="form-label">Upload Lesson Vedio </label>
                    <input asp-for="VedioFile" type="file" style="border-radius:40px;border: 2px solid rgba(255, 255, 255, 0.2);color:#fff;" enctype="multipart/form-data" accept="vedio/mp4" runat="server" />
                </div>
                <button type="submit" style="text-align:center;" class="btn cancel col-5  my-2">Save Lesson Data</button>
            </form>
        </div>
        <script>
        function setData() {
            localStorage.setItem("teacherLessonID", document.getElementById("lessonID").value);
        }
    </script>
    </body>
</html>