<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/About_Us.css">
    <title>About Us</title>
</head>
<body style="max-height:90vh!important;">
    <div class="wrapper">
        <form id="account" class="needs-validation container p-5" method="post">
            <h1>About Us</h1>
            <h5><span style="font-size:larger;font-weight:800;">Al-Eissa Academy</span>  is an innovative online educational platform dedicated to empowering learners of all ages and backgrounds. With a diverse range of courses and resources, this academy is designed to cater to a wide spectrum of interests and skill levels. Whether you're looking to expand your knowledge in academic subjects, enhance your professional skills, or explore new hobbies, Al-Eissa Academy offers a dynamic and accessible learning experience. Their expert instructors and user-friendly interface make it easy for students to engage with high-quality content and achieve their educational goals from the comfort of their own homes. With Al-Eissa Academy, learning becomes an enriching and convenient journey that knows no boundaries.</h5>
        </form>
    </div>

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/landing.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>

</body>
</html>
