
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Contact_Us.css">
</head>
<body>
    <div class="scroller"></div>
    <div class="wrapper">
        <form id="account" class="needs-validation container p-5" method="post">
            <h1>Contact Us</h1>
            <div class="input-box">
                <label style="font-size:1.2em;font-weight:500;color:#fff;margin-left:15px;">Email</label>
                <input type="text" required autocomplete="off" />
            </div>
            <div class="input-box">
                <labe style="font-size: 1.2em; font-weight: 500; color: #fff;margin-left:15px;">
                    Message</label>
                    <textarea required rows="3"></textarea>
            </div>

            <button type="submit" class="btn  my-2">Send Message</button>

        </form>
    </div>

    <script src="~/js/landing.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>

</body>
</html>
