@model Exam

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
              rel="stylesheet" />
    <link rel="stylesheet" href="~/css/AddExam.css">
    </head>
    <body>
        <div class="scroller"></div>
        <div class="wrapper">
            <form novalidate="" enctype="multipart/form-data" asp-action="AddExam" method="post">
                <h1>Add Exam Data</h1>
                <div class="input-box">
                <input asp-for="Id" id="examID" onkeyup="setData()" type="text" placeholder="The Exam Id" required autocomplete="off" />
                </div>
                <div class="input-box">
                    <input asp-for="Title" type="text" placeholder="The Exam Title" required autocomplete="off" />
                </div>
                <div class="input-box">
                    <input asp-for="Minutes" type="text" placeholder="The Exam Time(By Minutes)" required autocomplete="off" />
                </div>
                <div class="input-box">
                    <select asp-for="AcademyYear" required>
                        <option value="" selected>Select Your Academy Year</option>
                        <option value="1prep">Frist Prep</option>
                        <option value="2prep">Second Prep</option>
                        <option value="3prep">Third Prep</option>
                        <option value="1sec">Frist Sec</option>
                        <option value="2sec">Second Sec</option>
                        <option value="3sec">Third Sec</option>
                    </select>
                </div>

                <button type="submit" class="btn" onclick="displayAlertSuccess()">Save Exam Data</button>
            </form>
        </div>

        @section Scripts{
            <script>
                function displayAlertSuccess() {
                    Swal.fire('Completed', 'The Exam is Added Successfully', 'success');
                }
                function setData() {
                    localStorage.setItem("teacherExamID", document.getElementById("examID").value);
                } 
            </script>
        }

    </body>
</html>
